
//  Primary colors

 $dark-Blue  :  hsl(233, 26%, 24%);
 $Lime-Green : hsl(136, 74%, 57%);
 $Bright-Cyan: hsl(192, 70%, 51%);

//secundary colors
 $Grayish-Blue : hsl(233, 8%, 62%);
 $Light-Grayish-Blue : hsl(220, 16%, 96%);
 $Very-Light-Gray : hsl(0, 0%, 100%);

